.content-container {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  min-height: 100%;

  &--text-center {
    text-align: center;
  }

  &--no-padding {
    padding: 0;
  }
}
