.timer {
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: -1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 17px;
  border-radius: 100%;

  svg,
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    opacity: 0;
    animation: fadeIn 0.75s linear forwards;
    animation-delay: 1s;
  }

  .circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-out forwards;
  }

  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
