.timer {
  position: absolute;
  right: 18px;
  top: 18px;
  box-shadow: -1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 100%;

  &__number {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: var(--color-white);
    border-radius: 100%;
    z-index: 99;
    padding: 10px;
    text-align: center;
    height: 42px;
    width: 42px;
    overflow: visible;
    white-space: nowrap;
  }

  .hold {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 50px, 50px, 25px);
    border-radius: 100%;
    background-color: #fff;
  }
  .fill,
  .dot span {
    background-color: var(--color-black-light);
  }
  .fill {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 25px, 50px, 0px);
  }
  .left .fill {
    z-index: 1;
    -webkit-animation: left 20s linear;
    -moz-animation: left 20s linear;
    animation: left 20s linear infinite;
  }
  @keyframes left {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @-webkit-keyframes left {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
    }
  }
  .right {
    z-index: 3;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .right .fill {
    z-index: 3;
    -webkit-animation: right 20s linear;
    -moz-animation: right 1s linear;
    animation: right 20s linear infinite;
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 10s;
    animation-delay: 20s;
  }
  @keyframes right {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @-webkit-keyframes right {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
}
