.test-question {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;

  &__question {
    padding: 20px;
    color: var(--color-gray-dark);
    max-width: calc(100% - 75px);
  }

  &__code {
    overflow: scroll;
    padding: 0 20px;

    pre {
      margin-top: 0;
    }
  }

  &__answers {
    padding: 20px;
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: -1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  }

  &__answer {
    white-space: inherit;
    height: fit-content;
    text-transform: initial;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__answer-label {
    padding: 10px 0;
  }
}
