.message-label {
  display: flex;
  padding: 15px;
  border-radius: 5px;
  align-items: center;

  &__icon-container {
    padding-right: 15px;

    ion-icon {
      font-size: 22px;
    }
  }

  &--warning {
    background-color: var(--ion-color-warning);
    border: 2px solid var(--ion-color-warning-shade);
    color: white;
  }
}
