.profile-info {
  &__initial-info {
    margin-bottom: 10px;
  }

  &__image-container {
    position: relative;
  }

  &__image {
    border-radius: 100%;
    display: block;
    border: 5px solid var(--color-black-light);
    background-color: var(--color-black-light);
  }

  &__edit-avatar {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 42px;
    height: 46px;
    width: 46px;

    ion-icon {
      margin: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 55%;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__username {
    margin: 5px;
  }

  &__email {
    margin-left: 5px;
    padding-bottom: 10px;
  }

  &__edit {
    margin-top: 10px;
    margin-left: 5px;
  }

  &__description {
    margin-top: 15px;
  }
}
